html, body{
    height: 100%;
}
#cover{
    background: #222 url(../img/frida.jpg) center no-repeat;
    background-size: 100%;
    color: maroon;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
#cover-texto{
    width: 100%;
}